argcomplete==1.7.0
attrs==16.3.0
BeautifulSoup==3.2.1
beautifulsoup4==4.5.1
bs4==0.0.1
CairoSVG==1.0.22
cffi==1.9.1
chardet==2.3.0
constantly==15.1.0
cryptography==1.6
cssselect==1.0.0
docx2txt==0.6
EbookLib==0.15
enum34==1.1.6
html2text==2016.9.19
html5lib==0.999999999
idna==2.1
incremental==16.10.1
ipaddress==1.0.17
lxml==3.6.4
mechanize==0.2.5
parsel==1.1.0
pdfkit==0.5.0
pdfminer==20140328
Pillow==3.4.2
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.17
PyDispatcher==2.0.5
pymongo==3.4.0
pyOpenSSL==16.2.0
PyPDF2==1.26.0
Pyphen==0.9.4
python-pptx==0.6.2
queuelib==1.4.2
reportlab==3.3.0
service-identity==16.0.0
six==1.10.0
tinycss==0.4
Twisted==16.6.0
w3lib==1.16.0
WeasyPrint==0.33
webencodings==0.5
xhtml2pdf==0.0.6
xlrd==1.0.0
XlsxWriter==0.9.6
zope.interface==4.3.2
